{% extends 'StoreBackendBundle::layout.html.twig' %}

{% block titlepage %}Dashboard{% endblock %}

{% block content %}
    <h1><i class="fa fa-tags"></i>  Liste des produits</h1>

        {% for product in products %}
            <p>{{ product.ref }}</p>
            <p>{{ product.title }}</p>
            <p>{{ product.price }}</p>
            <p>{{ product.description }}</p>
            {% else %}
                <div class="alert alert-dark">No product</div>
        {% endfor %}

{% endblock %}




