{% extends 'StoreBackendBundle::layout.html.twig' %}

{% block content %}

    <div class="row">
        Dashboard de
        {% if name != null %}
            {{ name }}
        {% else %}
            Jeremy
        {% endif %}
    </div>
    
    <div class="row">
        <a href="{{ path('store_backend_category_list') }}">Go to the list of category</a>
    </div>

{% endblock %}

