{% extends 'StoreBackendBundle::layout.html.twig' %}

{% block titlepage %}Dashboard{% endblock %}

{% block content %}<h1><i class="fa fa-arrows-h"></i>  Voir le CMS {{ name }} || {{ id }}</h1>{% endblock %}