{% extends '::base.html.twig' %}

{% block body %}

    <h1>Back Office</h1>

    {% block menu %}
        <ul>
            <li>Home</li>
            <li>Products</li>
            <li>Categories</li>
            <li>Contact</li>
        </ul>
    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer %}
        <ul>
            <li>About</li>
            <li>Terms</li>
            <li>Concept</li>
        </ul>
    {% endblock %}

{% endblock %}