{% extends 'StoreBackendBundle::layout.html.twig' %}

{% block titlepage %}Dashboard{% endblock %}

{% block content %}<h1><i class="fa fa-cog"></i>  Catégorie {{ name }} // {{ id }}</h1>{% endblock %}